<html> <!-- -*- svn -*- -->
<head>
<title>agedu: track down wasted disk space</title>
</head>
<link rel="stylesheet" type="text/css" href="../sitestyle.css" name="Simon Tatham's Home Page Style">
<body>
<h1 align=center><code>agedu</code></h1>

<p align=center><i>a Unix utility for tracking down wasted disk space</i>

<h2>Introduction</h2>

<p>
Suppose you're running low on disk space. You need to free some up,
by finding something that's a waste of space and deleting it (or
moving it to an archive medium). How do you find the right stuff to
delete, that saves you the maximum space at the cost of minimum
inconvenience?

<p>
Unix provides the standard <code>du</code> utility, which scans your
disk and tells you which directories contain the largest amounts of
data. That can help you narrow your search to the things most worth
deleting.

<p>
However, that only tells you what's big. What you really want to
know is what's <em>too</em> big. By itself, <code>du</code> won't
let you distinguish between data that's big because you're doing
something that <em>needs</em> it to be big, and data that's big
because you unpacked it once and forgot about it.

<p>
Most Unix file systems, in their default mode, helpfully record when
a file was last accessed. Not just when it was written or modified,
but when it was even <em>read</em>. So if you generated a large
amount of data years ago, forgot to clean it up, and have never used
it since, then it ought in principle to be possible to use those
last-access time stamps to tell the difference between that and a
large amount of data you're still using regularly.

<p>
<code>agedu</code> is a program which does this. It does basically
the same sort of disk scan as <code>du</code>, but it also records
the last-access times of everything it scans. Then it builds an
index that lets it efficiently generate reports giving a summary of
the results for each subdirectory, and then it produces those
reports on demand.

<h2>Screenshot</h2>

<p>
The best way to explain what <code>agedu</code> does is to show it
in action. Here's a screenshot of an HTML report generated by
<code>agedu</code> after scanning my home directory, and served to
my web browser:

<p align=center><img src="screenshot.png" width=791 height=571>

<p>
You can see here a big coloured bar representing all the space used
in and below the main directory I'm looking at, and then smaller
bars showing how much of that space is in each subdirectory. Each
coloured bar is drawn in lots of different colours: red represents
data that hasn't been looked at for a long time, green represents
very recently accessed data, and the spectrum through orange and
yellow represents points in between. So I can immediately see that
the <code>gdk</code> subdirectory is not only the largest, but also
that it consists mostly of data I haven't looked at in about seven
months, making it a key candidate for tidying up. By contrast, the
next two directories (<code>bash</code> and <code>glibc</code>)
contain very little <em>wasted</em> space; the one below that,
<code>tex</code>, is a stronger tidying-up candidate than either.

<h2>Details</h2>

<p>
As well as generating graphical reports like the one shown above,
<code>agedu</code> can also produce text output a bit like
<code>du</code> (but with the additional feature of being able to
show only the disk space used by long-disused files, for any age
cutoff you like).

<p>
For complete and excruciating detail, you can read the
<a href="manpage.html">man page</a> online.

<h2>Status of <code>agedu</code></h2>

<p>
<code>agedu</code> works for me, but hasn't yet had any testing by
other people. I'd be interested to hear from anyone using it in a
more demanding environment than a home Linux box.

<h2>Licence</h2>

<p>
<code>agedu</code> is distributed under the MIT licence, so it is
free to copy, redistribute, use and reuse. For more details, see the
file called <code>LICENCE</code> in the distribution archive.

<h2>Download</h2>

<p>
A Unix source archive of <code>agedu</code> is available here:

<blockquote>
<p>
<a href="ARCHIVE-NAME"><code>ARCHIVE-NAME</code></a>
</blockquote>

<p>
If you want to see the latest state of development, you can check
the development sources out from my Subversion repository.

<p>
The Subversion URL you need is
<code>svn://svn.tartarus.org/sgt/agedu</code>. So you could use a
checkout command such as this:
<pre><code>svn co svn://svn.tartarus.org/sgt/agedu</code></pre>

<p>
Alternatively, you can browse the Subversion repository on the WWW,
<a href="http://svn.tartarus.org/sgt/agedu/">here</a>.
</p>

<h2>Feedback</h2>

<p>
Please report bugs to
<a href="mailto:&#97;&#110;&#97;&#107;&#105;&#110;&#64;&#112;&#111;&#98;&#111;&#120;&#46;&#99;&#111;&#109;">&#97;&#110;&#97;&#107;&#105;&#110;&#64;&#112;&#111;&#98;&#111;&#120;&#46;&#99;&#111;&#109;</a>.

<p>
You might find it helpful to read
<a href="../bugs.html">this article</a>
before reporting a bug.

<p>
Patches are welcome.

<hr>
(comments to <a href="mailto:&#97;&#110;&#97;&#107;&#105;&#110;&#64;&#112;&#111;&#98;&#111;&#120;&#46;&#99;&#111;&#109;">&#97;&#110;&#97;&#107;&#105;&#110;&#64;&#112;&#111;&#98;&#111;&#120;&#46;&#99;&#111;&#109;</a>)
<br>
(thanks to
<a href="http://www.chiark.greenend.org.uk/">chiark</a>
for hosting this page)
<br>
(last modified on <!--LASTMOD-->[insert date here]<!--END-->)
</body>
</html>
