Redirect permanent /~sgtatham/putty.html http://www.chiark.greenend.org.uk/~sgtatham/putty/
Redirect permanent /~sgtatham/putty-0.47/ http://www.chiark.greenend.org.uk/~sgtatham/putty/0.47/
Redirect permanent /~sgtatham/putty-0.48/ http://www.chiark.greenend.org.uk/~sgtatham/putty/0.48/
Redirect permanent /~sgtatham/putty-latest/ http://www.chiark.greenend.org.uk/~sgtatham/putty/latest/
Redirect permanent /~sgtatham/putty.exe http://www.chiark.greenend.org.uk/~sgtatham/putty/latest/putty.exe
Redirect permanent /~sgtatham/putty-alpha.exe http://www.chiark.greenend.org.uk/~sgtatham/putty/latest/putty-alpha.exe
Redirect permanent /~sgtatham/nasm/ http://www.web-sites.co.uk/nasm/
Redirect permanent /~sgtatham/buttress.html http://www.chiark.greenend.org.uk/~sgtatham/halibut/
Redirect permanent /~sgtatham/halibut.html http://www.chiark.greenend.org.uk/~sgtatham/halibut/
